/* สิ่งที่อยู่ตรงนี้ จะมีไว้แค่ให้ dev อ่าน */
/* 1. แต่งใคร ? (id, class, DOM) 2. แต่งอะไร ? */
@font-face {
  font-family: "kanit";
  src: url("./Kanit/Kanit-Regular.ttf");
}

body {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  background-image: url("https://wallpapers.com/images/hd/simple-clean-blue-mountain-landscape-i3vff2gf2353io86.jpg");
}

.message{
  background-color: rgb(224, 155, 98);
  padding: 5px;
  margin: 5px;
  display: none;
}
.message.success{
  background-color: green;
  display:block;
}
.message.danger {
  background-color: rgb(251, 255, 0);
  display: block;
}

.container {
  max-width: 640px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  box-sizing: border-box;
  width: 70%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(243, 139, 139, 0.1);
}

.header {
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: 5px solid #d3d3d3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-form {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.flex {
  display: flex;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

input.form,
textarea {
  border: 1px rgb(241, 182, 182) solid;
  width: 100%;
  padding: 6px;
}

.button {
  border: 0;
  width: 50%;
  height: 40px;
  background-color: rgb(81, 223, 248);
  color: rgb(3, 1, 1);
}

@media screen and (max-width:768px) {
  .flex {
    flex-direction: column;
  }
  .header{
    font-size: 24px;
  }
  .button {
    width: 100%;
  }
}


.header-form span {
  font-size: 1.1em;
  color: #333;
}

.form {
  width: 100%;
  padding: 12px 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}


.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gender div {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 0.9em;
}

input[type="radio"] {
  margin-right: 5px;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
}

input[type="radio"]:checked {
  background-color: #d3d3d3;
}


.interest {
  display: flex;
  flex-wrap: wrap;
}

.interest div {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.back-to-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(172, 241, 241);
  max-width: 290px;
}